.gallery-productlisting {
    width: 100%;
    background:url('../../assets/bgsec5_prolist.jpg') no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    position: relative;
    padding: 80px 0
}

.gallery-w {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this as needed */
    position: relative;
}
.caption-box {
    text-align: center;
    z-index: 20;
  }
.item.p1 {
    width: 250px;
    height: 274px;
    top: 0;
    left: 150px;
    overflow: hidden;
    position: absolute;

}
.layout-section3{
    display: block;
}
.item.p1 img {
    width: 100%;
    height: 100%;
    object-fit: none; 
    object-position: -2% 30%;
}

.item.p2 {
    width: 340px;
    height: 500px;
    top: 0;
    left: 420px;
    overflow: hidden;
    position: absolute;

}

.item.p2 img {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 56% 48%;
}

.item.p3 {
    width: 430px;
    height: 300px;
    top: 290px;
    left: -30px;
    overflow: hidden;
    position: absolute;

}

.item.p3 img {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 34% 51%;
}

.item.p4 {
    width: 408px;
    height: 256px;
    top: 608px;
    left: 0px;
    overflow: hidden;
    position: absolute;

}

.item.p4 img {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 24% 51%;
}